html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/* Navbar section*/

.navbar {
	background-color: rgba(239, 83, 80, 1);
	padding: 10px 20px;
	height: 50px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: 0.15s linear all;
}

.navbar ul {
	list-style-type: none;
	position: absolute;
	z-index: 10;
	right: 20px;
	top: 30px;
	padding: 0px;
}

.navbar img {
	margin-bottom: -50px;
	position: absolute;
	z-index: 0;
	top: 20px;

}

.navbar ul a {
	display: inline-block;
	height: 20px;
	padding: 10px;
	color: #FFF;
}

/* Navbar big */

.navbar.big {
	height: 100px;
	background-color: rgba(239, 83, 80, 0.1);
}

.navbar.big ul a::before {
	height: 50px;
	top: -50px;
}

.navbar.big ul a::after {
	height: 50px;
	top: -50px;
}

.navbar.big ul li {
	margin-left: 20px;
	margin-top: -10px;
	border-radius: 7px;
	position: relative;
}

.navbar ul a:link {
	text-decoration: none;
	color: #FFFFFF !important;
	font-family: 'Work Sans', sans-serif;
}

/* Navbar small */

.navbar ul li {
	display: inline-block;
	float: right;
	color: #FFFFFF !important;
	background: #D32F2F;
	margin-left: 20px;
	margin-top: -30px;
	border-radius: 7px;
	position: relative;
	transition: 0.22s linear all;
}

.navbar ul a::before {
	content: ' ';
	display: block;
	height: 40px;
	width: 5px;
	background: #B71C1C;
	position: absolute;
	top: -40px;
	left: 10px;
	transition: 0.15s linear all;
}

.navbar ul a::after {
	content: ' ';
	display: block;
	height: 40px;
	width: 5px;
	background: #B71C1C;
	position: absolute;
	top: -40px;
	right: 10px;
	transition: 0.15s linear all;
}


/* Hero unit*/

.intro {
	text-align: center;
	padding-top: 170px;
	margin-top: -1px;
	height: 100vh;
	background-color: #F3E5F5;
	background-image: url('assets/background.jpg');
	background-size: cover;
	background-position-y: top;
	background-position-x: center;
}

.intro h1 {
	color: #FFFFFF;
	font-family: 'Work Sans', sans-serif;
	font-size: 72px;
}

span {
	font-family: 'Indie Flower', cursive;
	font-size: 94px;
	font-style: italic;
}

.item {
	width: 27%;
    box-sizing: border-box;
    text-align: center;
    height: 500px;
    display: inline-block;
    margin: 50px;
    border-radius: 10px;
	font-family: 'Work Sans', sans-serif;
}

#item1 {
	background: #90CAF9;
}

#content1 {
	background: #BBDEFB;
}

#item2 {
	background: #FFCDD2;
}

#content2 {
	background: #FCE4EC;
}

#item3 {
	background: #C8E6C9;
}

#content3 {
	background: #E8F5E9;
}

#item4 {
	background: #E1BEE7;
}

#content4 {
	background: #EDE7F6;
}

#item5 {
	background: #FFF9C4;
}

#content5 {
	background: #FFFDE7;
}

#item6 {
	background: #FFCCBC;
}

#content6 {
	background: #FBE9E7;
}

.item img {
	width: 350px;
}

.item img:hover {
	
}

.portfolio h1 {
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	margin-top: 80px;
	font-size: 50px;
}

.portfolio h3 {
    font-size: 32px;
}

.portfolio p {
	font-size: 16px;
}

#web {
	height: 700px;
	background: #80D8FF;
}

#cpp {
	height: 700px;
	background: #BA68C8;
}

#python {
	height: 700px;
	background: #FF9E80;
}

#java {
	height: 700px;
	background: #A7FFEB;
}

.portfolio {
	margin-bottom: 80px;
	clear: both;
	font-size: 0;
	padding-left: 40px;
}

/* Carousel */


.skills img {
	height: 400px;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
}

.skills .slide {
	position: relative;
}

.skills h2 {
	position: absolute;
	top: 40%;
	right: 30%;
	transform: translate(50%, -50%);
	font-size: 60px;
	font-family: 'Work Sans', sans-serif;
	color: #424242;
}

.footer {
	height: 170px;
	margin-top: 50px;
	background: #102C37;
	position: relative;
}

.footer p {
	color: #FFFFFF;
	position: absolute;
	top: 70%;
	right: 15%;
	transform: translate(50%, -50%);
	font-family: 'Work Sans', sans-serif;
}

.footer ul {
	list-style-type: none;
}

.footer ul li {
	font-size: 80px;
	display: inline-block;
	margin-top: 40px;
	margin-right: 50px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  height: 80%;
  box-sizing: border-box;
  margin: 7% auto;
  border: 1px solid #888;
  width: 80%;
  position: relative;
  text-align: center;
  border-radius: 20px;
}

.modal-content img {
	height: 600px;
	margin-top: 90px;
	margin-bottom: 20px;
}

.modal-content p {
	font-size: 40px;
	font-family: 'Work Sans', sans-serif;
	text-align: center;
}

#content2 {
	padding-top: 100px;
}

.big li.active {
	margin-top: 5px !important;
}

li.active {
	margin-top: -20px !important;
}