/* url */
$url_bg: url(assets/background.jpg);

/* color */
$color_bg: rgba(239, 83, 80, 1);
$color_bg_big: rgba(239, 83, 80, 0.1);
$color_white: #FFFFFF;

$color_web: #80D8FF;
$color_cpp: #BA68C8;
$color_python: #FF9E80;
$color_java: #A7FFEB;

$color_item1: #90CAF9;
$color_item2: #FFCDD2;
$color_item3: #C8E6C9;
$color_item4: #E1BEE7;
$color_item5: #FFF9C4;
$color_item6: #FFCCBC;

$color_cont1: #BBDEFB;
$color_cont2: #FCE4EC;
$color_cont3: #E8F5E9;
$color_cont4: #EDE7F6;
$color_cont5: #FFFDE7;
$color_cont6: #FBE9E7;

$color_modal: rgba(0,0,0,0.4);
$color_skills: #424242;

/* font */

@mixin translate($x, $y) {
	transform: translate($x, $y);
}

@mixin border-radius($radius) {
	border-radius: $radius;
}

@mixin transition($transition...) {
	transition: $transition;
}

@mixin box-sizing($box) {
	box-sizing: $box;
}

@mixin box-shadow($shadow...) {
	box-shadow: $shadow;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/* Navbar section*/

.navbar {
	background-color: $color_bg;
	padding: 10px 20px;
	height: 50px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	@include transition(0.15s linear all);

	ul {
		list-style-type: none;
		position: absolute;
		z-index: 10;
		right: 20px;
		top: 30px;
		padding: 0px;

		a::before {
			content: ' ';
			display: block;
			height: 40px;
			width: 5px;
			background: #B71C1C;
			position: absolute;
			top: -40px;
			left: 10px;
			@include transition(0.15s linear all);
		}

		a::after {
			content: ' ';
			display: block;
			height: 40px;
			width: 5px;
			background: #B71C1C;
			position: absolute;
			top: -40px;
			right: 10px;
			@include transition(0.15s linear all);
		}

		li {
			float: right;
			background: #D32F2F;
			margin-left: 20px;
			margin-top: -30px;
			@include border-radius(7px);
			position: relative;
			@include transition(0.22s linear all);


			a:link {
				text-decoration: none;
				font-family: 'Work Sans', sans-serif;
			}
		}

		a {
			display: inline-block;
			height: 20px;
			padding: 10px;
			color: $color_white;
		}
	}

	img {
		margin-bottom: -50px;
		position: absolute;
		z-index: 0;
		top: 6px;
	}
}

/* Navbar big */

.navbar.big {
	height: 100px;
	background-color: $color_bg_big;

	ul {
		a::before {
			height: 50px;
			top: -50px;
		}

		a::after {
			height: 50px;
			top: -50px;
		}


		li {
			margin-left: 20px;
			margin-top: -10px;
			@include border-radius(7px);
			position: relative;
		}
	}
}

/* Hero unit*/

.intro {
	text-align: center;
	padding-top: 170px;
	margin-top: -1px;
	height: 100vh;
	background-image: $url_bg;
	background-size: cover;
	background-position-y: top;
	background-position-x: center;

	h1 {
		color: $color_white;
		font-family: 'Work Sans', sans-serif;
		font-size: 62px;
	}

	span {
		font-family: 'Indie Flower', cursive;
		font-size: 94px;
		font-style: italic;
	}
}

.item {
	width: 27%;
    @include box-sizing(border-box);
    text-align: center;
    height: 500px;
    display: inline-block;
    margin: 50px;
    @include border-radius(10px);
	font-family: 'Work Sans', sans-serif;

	img {
		width: 350px;
	}
}

#item1 {
	background: $color_item1;
}

#content1 {
	background: $color_cont1;
}

#item2 {
	background: $color_item2;
}

#content2 {
	background: $color_cont2;
}

#item3 {
	background: $color_item3;
}

#content3 {
	background: $color_cont3;
}

#item4 {
	background: $color_item4;
}

#content4 {
	background: $color_cont4;
}

#item5 {
	background: $color_item5;
}

#content5 {
	background: $color_cont5;
}

#item6 {
	background: $color_item6;
}

#content6 {
	background: $color_cont6;
}

.portfolio {
	clear: both;
	font-size: 0;
	padding-left: 40px;

	h1 {
		text-align: center;
		font-family: 'Work Sans', sans-serif;
		font-size: 50px;
		padding-top: 100px;
	}

	h3 {
	    font-size: 30px;
	}

	p {
		font-size: 16px;
	}
}

/* Carousel */
#web {
	background: $color_web;
}

#cpp {
	background: $color_cpp;
}

#python {
	background: $color_python;
}

#java {
	background: $color_java;
	display: block;
}

.skills {
	position: relative;
	height: 734px;
	padding-top: 180px;
		overflow: hidden;

	img {
		height: 300px;
		position: absolute;
		top: 50%;
		left: 25%;
		@include translate(-50%, -50%);
	}

	.slide {
		position: absolute;
		display: none !important;
		width: 100%;
		height: 700px;
		will-change: left;
		left: 0;
	}

	h2 {
		position: absolute;
		top: 40%;
		right: 30%;
		@include translate(50%, -50%);
		font-size: 60px;
		font-family: 'Work Sans', sans-serif;
		color: $color_skills;
	}

}


.footer {
	height: 100px;
	background: #102C37;
	position: relative;
	margin-top: 60px;

	p {
		color: #FFFFFF;
		position: absolute;
		top: 50%;
		right: 13%;
		@include translate(50%, -50%);
		font-family: 'Work Sans', sans-serif;
	}

	ul {
		list-style-type: none;

		li {
			font-size: 50px;
			display: inline-block;
			margin-top: 30px;
			margin-right: 50px;
		}
	}
}

.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $color_modal;

	.modal-content {
		height: 700px;
		@include box-sizing(border-box);
		border: 1px solid #888;
		width: 1200px;
		position: fixed;
		text-align: center;
		@include border-radius(20px);
		top: 50%;
		left: 50%;
		@include translate(-50%, -50%);

		.close {
			position: absolute;	
			color: #aaaaaa;
			right: 50px;
			top: 10px;
			font-size: 98px;
			font-weight: bold;
		}

		.close:hover {
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}

		img {
			height: 350px;
			margin-top: 90px;
			margin-bottom: 20px;
			@include border-radius(10px);
			border: 1px solid;
		  	padding: 15px;
		  	@include box-shadow(5px 15px 20px #888888);
		}

		video {
			height: 400px;
			margin-bottom: 30px;
		}

		p {
			font-size: 30px;
			font-family: 'Work Sans', sans-serif;
			text-align: center;
			margin-top: 70px;
		}
	}
}

#content2 {
	padding-top: 100px;
}

.big li.active {
	margin-top: 5px !important;
}

li.active {
	margin-top: -20px !important;
}

/* New CSS */
@media(max-width: 1400px) {
	.item {
		width: 27%;
		height: 400px;
		margin: 33px;
		
		img {
			width: 300px;
			@include border-radius(10px);
		}

		h3 {
		    font-size: 20px;
		}
	}

	.skills {
		padding-top: 150px;
		height: 500px;
		.slide {
			height: 500px;

			h2 {
				font-size: 50px;
			}

			img {
				height: 330px;
			}		
		}
	}

	#web {
		img {
			height: 300px;
			margin-left: 30px;
		}

		h2 {
			width: 450px;
			right: 22%;
		}			
	}

	.footer {
		height: 80px;

		p {
			right: 16%;
		}

		ul li {
			font-size: 40px;
			margin-top: 20px;
		}
	}

	.modal {
		.modal-content {
			height: 550px;
			width: 800px;

			img {
				height: 250px;
				@include border-radius(10px);
			}

			p {
				margin-top: 50px;
				font-size: 25px;
			}

			video {
				height: 300px;
			}
		}
	}
}

/* New CSS */
@media(max-width: 1040px) {
	.item {
		width: 28%;
		height: 300px;
		margin: 20px;

		img {
			width: 200px;
		}

		h3 {
		    font-size: 18px;
		}
	}
	.skills {
		height: 510px;
		.slide {
			h2 {
				font-size: 40px;
			}

			img {
				height: 200px;
			}
		}
	}
	
	#web {
		h2 {
			width: 400px;
			right: 20%;
		}

		img {
			height: 200px;
		}
	}

	.footer {
		height: 100px;

		p {
			right: 21%;
		}

		ul li {
			font-size: 50px;
			margin-top: 30px;
		}
	}


	.modal video {
		height: 300px;
		margin-bottom: 30px;
	}
}



/* Carousel */

.arrow {
	cursor: pointer;
	position: absolute;
	top: 55%;
	@include translate(-50%, 0%);
	margin-left: 40px;
	color: #757575;
	font-weight: bold;
	font-size: 40px;
}

#goright {
	right: 0;
}

.slide.visible {
	display: block !important;
}

.slide.left {
	left: -100% !important;
}

.slide.right {
	left: 100% !important;
}

.moving {
	transition: 0.5s ease-in-out left;
}